:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}

.game-container {
  width: 400px;
  height: 600px;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  background-color: #242424;
  overflow: hidden;
}

.game-canvas {
  background: radial-gradient(ellipse at right top, #1c051e, black, #1a0734) !important;
}